<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: {{cores[tema]['Fundo']}}; color: {{cores[tema]['Texto']}}">
    <form action="/login" method="post">
        <input type="text" name='username' placeholder="Nome de usuário">
        <input type="text" name='password' placeholder="Senha">
        <button type="submit">Enviar</button>
    </form>
    <p>{{error}}</p>
</body>
</html>